In [1]:
import numpy as np
import pandas as pd

# Load Data

In [2]:
path= 'iris.csv'
with open(path)as file:
    data=pd.read_csv(file,header=None,encoding='UTF-8')
    print("Data Loaded!")
    npdata=data.to_numpy()

Data Loaded!

# 删除数据缺失的行和有明显错误的行

#### 删除空值

In [3]:
position = np.unique(np.where(np.isnan(npdata.astype(float)))[0])
del_nan = data.drop(position)

In [4]:
# 将格式为DataFrame的del_nan的行标重新赋为连续的值
npdata = del_nan.to_numpy()
del_nan = pd.DataFrame(npdata)
del_nan

       0    1    2    3    4
0    5.1  3.5  1.4  0.2  0.0
1    4.9  3.0  1.4  0.2  0.0
2    4.7  3.2  1.3  0.2  0.0
3    4.6  3.1  1.5  0.2  0.0
4    5.0  3.6  1.4  0.2  0.0
..   ...  ...  ...  ...  ...
143  6.7  3.3  5.7  2.5  2.0
144  6.7  3.0  5.2  2.3  2.0
145  6.3  2.5  5.0  1.9  2.0
146  6.2  3.4  5.4  2.3  2.0
147  5.9  3.0  5.1  1.8  2.0

[148 rows x 5 columns]

#### 删除数据错误的行

In [5]:
# 获取值小于0的坐标
error_position = np.where(npdata < 0)

In [6]:
# 在删除空值的基础上删除错误数据的行
del_error = del_nan.drop(error_position[0])

In [7]:
# 重整行号
npdata = del_error.to_numpy()
del_error = pd.DataFrame(npdata)

# 求出每种鸢尾花萼片长度的平均值、中位数和标准差

In [8]:
for i in range(3):
    rows = np.where(npdata[:,4].astype(int) == i)# 获取i类行号
    temp = []
    for j in rows:
        temp = np.append(temp,npdata[j,0])# 某一类的萼片长度放temp暂存
    mean = np.mean(temp)
    median = np.median(temp)
    std  = np.std(temp)
    print("第{}类的鸢尾花萼片长度的平均值为：{:.3f}，中位数为{:.3f}，标准差为{:.3f}".format(i, mean, median, std))

第0类的鸢尾花萼片长度的平均值为：5.006，中位数为5.000，标准差为0.349
第1类的鸢尾花萼片长度的平均值为：5.942，中位数为5.900，标准差为0.517
第2类的鸢尾花萼片长度的平均值为：6.542，中位数为6.400，标准差为0.617

# 归一化

In [10]:
temp = npdata[:,:-1]
maxmin_norm = (temp-np.min(temp))/(np.max(temp)-np.min(temp))

In [11]:
maxmin_norm = np.insert(maxmin_norm,4,npdata[:,-1],axis = 1)

In [12]:
result = pd.DataFrame(maxmin_norm)

In [13]:
result.to_csv('iris_processed.csv',index=False)